<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projetcs", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="@Url.Content("~/files/bsef14a011.pdf")" target="_blank">CV</a> &nbsp;
                    </li>

</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>
                <p>
                    &copy; @DateTime.Now.Year -
                    <a href="https://twitter.com/TayyibahDin" target="_blank"><i class="fa fa-2x fa-twitter"></i></a> &nbsp;
                    <a href="https://www.facebook.com/profile.php?id=100008276357950" target="_blank"><i class="fa fa-2x fa-facebook"></i></a> &nbsp;
                    <a href="https://plus.google.com/u/0/102024205345507082696" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a> &nbsp;
                    <a href="https://www.youtube.com/channel/UCG6D_X4xhfcI90II4YCea8g?view_as=subscriber" target="_blank"><i class="fa fa-2x fa-youtube"></i></a> &nbsp;
                    <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa fa-2x fa-instagram"></i></a> &nbsp;
                    <a href="http://snapchat.com/add/Tayyibah" target="_blank"><i class="fa fa-2x fa-snapchat"></i></a> &nbsp;
                    <a href="https://github.com/Tayyibah/" target="_blank"><i class="fa fa-2x fa-github"></i></a> &nbsp;
                    <a href="https://www.linkedin.com/in/tayyibah-alau-d-din-852799128/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>

                </p>
                </center>
</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
